# Enterprise-only settings
enterprise:
  srv6:
    # -- Enables custom SRv6 SID locator pool operator support.
    locatorPoolEnabled: false
  # -- Multi-network support (preview feature)
  multiNetwork:
    # -- Enables the multi-network feature in Cilium CNI
    enabled: false
    # -- Automatically creates a "default" IsovalentPodNetwork on operator startup
    autoCreateDefaultPodNetwork: true
    # -- Enable multi-network aware automatic L2 routing between nodes
    autoDirectNodeRoutes: true
  clustermesh:
    # -- Enable overlapping PodCIDR support
    enableOverlappingPodCIDRSupport: false
